__pycache__
*.pyc
*.pyo
*.pkl
mlruns/
mlartifacts/
mlflow/
data/
models/
.env
.dvc/
*.py[cod]
*.pyd
*.so
.venv/
.git/
.gitmodules
.vscode/
open-data/
resources/plots/
.DS_Store
__MACOSX/
.notebooks/
__pycache__/
*.pyc
*.pyo
*.db
*.log
*.sqlite
data/
logs/
tests/
.dockerignore
.git
.venv
venv
__pycache__/
*.pyc
logs/
data/
tests/
.dockerignore
Dockerfile
docs/
*.drawio
*.png
*.gif
*.ipynb
# IDE
.vscode/
.idea/
# macOS
.DS_Store
